/* Selectors */

body {
  font-family: "Montserrat";
  text-align: center;
}

a {
  color: white;
}

p {
  color: #8f8f8f;
}

/* Sections */
.pink-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Headings */
.lg-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.md-heading {
  font-weight: bold;
  line-height: 1.5;
}

.sm-heading {
  font-weight: bold;
  font-size: 1.5rem;
}

/* Title Area */

#title {
padding-bottom: 3%;
}
#title .container-fluid {
  text-align: left;
  background-color: #ff4c68;
  color: white;
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
  color: #fff;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 100;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Features */
#features {
  padding: 7% 15%;
  position: relative;
}

/* Title Image (iPhone) */
.title-image {
  width: 15%;
  transform: rotate(15deg);
  position: absolute;
  right: 20%;
  top: 15%;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 80%;
    right: 20%;
    top: 15%;
    transform: rotate(0);
    text-align: center;
  }
}

/* Features */
.icon {
  color: #ef8172;
  height: 60px;
  margin-bottom: 10px;
  transition: all 0.4s ease;
}

.icon:hover {
  color: #ff4c68;
}

.feats {
  color: #8f8f8f;
}

/* Testimonials */
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  transition-duration: 0.5s;
  padding: 7% 15%;
}

/* Press */
#press {
  padding-bottom: 3%;
  position: relative;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing, CTA, and Footing*/
#pricing, #cta, #footer {
  padding: 3% 15%;
}

.foo {
  margin: 1%;
}
